body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 0;
}

#hero {
  margin: auto;
  text-align: center;
  width: 579px;  
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
  color: #ff9900;
}

span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer {
  align-items: self-end;
  margin: auto;
  width: 592px;
  margin-top: 72px;
}

#footer a + a {
  padding-left: 28px;
}

.line {
  width: 592px;
  margin-bottom: 8px;
  border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}
